@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

h1, h2, h3 {
  @apply font-bold;
}
@keyframes floatSlow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-floatSlow {
  animation: floatSlow 6s ease-in-out infinite;
}
